{
    "presets": [
        "flow",
        "es2015"
    ],
    "plugins": [
        "transform-object-rest-spread",
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./src"
                }
            }
        ]
    ],
    "sourceMaps": true
}