{
    "parser": "babel-eslint",
    "extends": [
        "plugin:flowtype/recommended",
        "standard"
    ],
    "plugins": [
        "flowtype"
    ],
    "globals": {
        "describe": true,
        "it": true,
        "before": true,
        "after": true
    },
    "rules": {
        "flowtype/no-types-missing-file-annotation": 0,
        "no-unused-expressions": "off",
        "space-before-function-paren": "off",
        "indent": [
            "error",
            "tab"
        ],
        "no-tabs": "off",
        "eol-last": "off"
    }
}