{
    "parser": "babel-eslint",
    "extends": "standard",
    "globals": {
        "describe": true,
        "it": true,
        "before": true,
        "after": true
    },
    "rules": {
        "no-unused-expressions": "off",
        "space-before-function-paren": "off",
        "indent": [
            "error",
            "tab"
        ],
        "no-tabs": "off",
        "eol-last": "off"
    }
}